body{background-color: gray;}          
.tabsDiv{width: 700px;height: 350px;margin-top: 0px;margin-left: 0px;}  
.tabsDiv ul{width: 500px;height: 20px;list-style: none;background-color: black;margin-bottom: 0px;margin: 0px;padding: 0px;}  
.tabsDiv div{width: 500px;height: 330px;background-color: white;}  
.tabsSeletedLi{width: 100px;height: 20px;background-color: white;float: left;text-align: center;}  
.tabsSeletedLi a{width: 100px;height: 20px;color: black;}  
.tabsUnSeletedLi{width: 100px;height: 20px;background-color: black;float: left;text-align: center;}  
.tabsUnSeletedLi a{width: 100px;height: 20px;color: white;}
